OPENROUTER_API_KEY=
OPENROUTER_BASE_URL=https://openrouter.ai/api/v1
OPENROUTER_MODEL=google/gemini-3.7-flash
MODEL_SUMMARY=google/gemini-3-flash-preview
REFERENCE_DATE=2026-08-19

SLACK_WEBHOOK_URL=

LANGFUSE_HOST=http://localhost:3000
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
